[submodule ".local/src/chemacs2"]
	path = .local/src/chemacs2
	url = https://github.com/plexus/chemacs2.git
[submodule ".config/awesome/awesome-switcher"]
	path = .config/awesome/awesome-switcher
	url = https://github.com/berlam/awesome-switcher.git
